/*GENERALES*/
*{
    padding: 0px;
    margin: 0px;
}
.body{
    background: url(../img/bg.png);
}
#logo{
    padding: 30px;
}

#logo img{
    height:100px;
}
.product img{
    width: 100px;
}
.bg-dark{
    background-color: black !important;
}
.navbar-dark{
    color: aliceblue;
}
.opciones{
    flex-direction:column !important;
    text-align: center;
}
.bg-green{
    background-color: #A7D82E;
}
.bg-red{
    background-color: #AC0C0C !important;
}
.imgR{
    width: 200px !important;
    height: 200px !important;
}